@import "tailwindcss";

@layer base {
  html {
    font-size: clamp(15px, 0.35vw + 14px, 18px) !important;
  }

  body {
    font-family: var(--font-poppins), sans-serif !important;
    font-size: 1.05rem !important;
    line-height: 1.7rem !important;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins), sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  background-image: url("/eggcubator%20bg.png") !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  color: var(--foreground);
}
